footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #084298;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #939ba3;
    font-size: 14px;
}